.header {
    width: 100%;
    min-height: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardWrapper {
    position: relative;
    width: 90%;
    top: 52px;
    display: flex;
    flex-direction: column-reverse;
    min-height: inherit;
}

@media only screen and (min-width: 1200px) {
    .header {
        width: 30%;
        max-width: 483px;
        flex-direction: row;
        min-height: 100vh;
        display: flex;
    }

    .cardWrapper {
        position: absolute;
        flex-direction: column;
        top: 0;
        width: 35vw;
        max-width: 750px;
        min-height: 50%;
        justify-content: center;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
    }
}